body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #132a13;
  color: #ecf39e;
}

input, select, textarea {
  background-color: #ecf39e;
}


h1 {
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin-left: 1%;
}

div {
  box-sizing: border-box;
}

#zalozeni_receptu_wrapper {
  display: flex;
  gap: 20px;
}

.image-preview-placeholder {
  border: 2px dashed #ecf39e;
  background-color: #31572c;
  color: #ecf39e;
  width: 200px;
  min-height: 100%; 
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div[style="border: 1px solid black;"] {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #31572c;
  max-width: 80%;
  margin: 20px auto;
}

#zalozeni_receptu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  align-items: flex-start;
}


.nazev_receptu_input {
  flex: 0 0 100%;
  padding: 10px;
  border: 1px solid #ecf39e;
  border-radius: 5px;
  font-size: 15px;
  color: #132a13;
  min-width: 250px;
  box-sizing: border-box;
}

.pair {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  flex: 1 1 20%;
  min-width: 150px;
}

#zalozeni_receptu label,
#zalozeni_receptu select {
  padding: 8px 10px;
  border: 1px solid #ecf39e;
  border-radius: 5px;
  font-size: 15px;
  box-sizing: border-box;
}

.pair label {
  color: #ecf39e;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.pair select {
  color: #132a13;
  flex: 1 1 auto;
  min-width: 0;
}

textarea {
  flex: 1 1 45%;
  min-width: 200px;
  max-width: 100%;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
  margin: 5px 0;
}

.upload-button {
  font-weight: bold;
  flex: 0 0 100%;
  padding: 10px 15px;
  background-color: #90a955;
  color: #132a13;
  text-align: center;
  border: 1px solid #ecf39e;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
}

.upload-button:hover {
  background-color: #132A13;
  color: #ecf39e;
}

.ingredient-line {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
}

#max_vel {
  flex: 0 0 100%;
  font-style: italic;
  color: #ecf39e;
  text-align: center;
  margin-top: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
}

li input[type="text"] {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

li input[type="number"] {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

li select {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.krizek {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}

.krizek-group img {
  width: 20px;
  height: 20px;
}

.krizek-group {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  border-radius: 5px;
}

.krizek-group:hover {
  background-color: #fd9292;
}

.skupina-ingredienci {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #132a138d;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skupina-ingredienci input[name="skupina_ingredienci"] {
  flex: 0 0 100%;
  min-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.skupina-ingredienci input[name="nazev_ingredience"] {
  flex: 2 1 60%;
  min-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.skupina-ingredienci input[name="mnozstvi"] {
  flex: 1 1 10%;
  min-width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.skupina-ingredienci select[name="mnozstvi_id"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.skupina-ingredienci .krizek {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.skupina-ingredienci .krizek:hover {
  background-color: #fd9292;
}

.skupina-ingredienci .krizek img {
  width: 20px;
  height: 20px;
}

.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}

.group-header input[name="skupina_ingredienci"] {
  flex: 1 1 auto;
  padding: 10px;
  border: 1px solid #ecf39e;
  border-radius: 5px;
  color: #132a13;
}

li div[title="Smazat"] {
  flex: 0 1 auto;
  color: #ff0000;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #ffe6e6;
  border-radius: 5px;
  text-align: center;
}

li div[title="Smazat"]:hover {
  background-color: #ffcccc;
}

.div-pridani {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.div-pridani-group {
  display: flex;
  justify-content: flex-start;
}

.pridej-ingredienci-group {
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid #ecf39e;
  border-radius: 5px;
  background-color: #90a955;
  color: #132a13;
  font-size: 15px;
  cursor: pointer;
}

.pridej-ingredienci-group:hover {
  background-color: #132A13;
  color: #ecf39e;
}

#pridej-ingredienci,
#pridej-skupinu-ingredienci {
  font-weight: bold;
  padding: 10px 15px;
  border: 1px solid #ecf39e;
  border-radius: 5px;
  background-color: #90a955;
  color: #132a13;
  font-size: 15px;
  cursor: pointer;
}

#pridej-ingredienci:hover,
#pridej-skupinu-ingredienci:hover {
  background-color: #132A13;
  color: #ecf39e;
}

.button-container {
  text-align: center;
}

#uloz_recept, 
#zobraz_ulozene {
  display: inline-block; 
  margin: 20px;
  padding: 15px 30px;
  background-color: #90a955;
  color: #132a13;
  font-size: 18px;
  border: 1px solid #ecf39e;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

#uloz_recept:hover, 
#zobraz_ulozene:hover {
  background-color: #132a13;
  color: #ecf39e;
}

.recept {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #31572c;
}

.recept h3 {
  margin-top: 0;
}

.recept img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #31572c;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  color: #ecf39e;
  box-sizing: border-box;
}

.modal-content h2 {
  margin-top: 0;
  text-align: center;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-content input[type="text"],
.modal-content select,
.modal-content textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ecf39e;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ecf39e;
  color: #132a13;
}

.modal-content textarea {
  resize: vertical;
  min-height: 100px;
}

.form-buttons {
  text-align: right;
}

.form-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}

#cancel-edit {
  background-color: #ff4d4d;
  color: #fff;
}

#cancel-edit:hover {
  background-color: #ff0000;
}

.modal-content form button[type="submit"] {
  background-color: #90a955;
  color: #132a13;
}

.modal-content form button[type="submit"]:hover {
  background-color: #132a13;
  color: #ecf39e;
}

.button-container {
  margin-top: 10px;
  gap: 10px;
}

.edit-button,
.delete-button {
  flex: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.edit-button {
  background-color: #90a955;
  color: #132a13;
}

.edit-button:hover {
  background-color: #132a13;
  color: #ecf39e;
}

.delete-button {
  background-color: #ff4d4d;
  color: #fff;
}

.delete-button:hover {
  background-color: #ff0000;
}


@media (max-width: 1200px) {
  .pair {
    flex: 1 1 50%;
  }
}

@media (max-width: 768px) {
  div[style="border: 1px solid black;"] {
    max-width: 100%;
    margin: 10px;
  }

  .pair {
    flex: 1 1 100%;
    width: 100%;
  }

  #zalozeni_receptu,
  #formular > div div,
  li {
    flex-direction: column;
  }

  #zalozeni_receptu input[type="text"],
  #zalozeni_receptu input[type="number"],
  #zalozeni_receptu select,
  #zalozeni_receptu label,
  .upload-button,
  #max_vel,
  textarea {
    flex: 1 1 100%;
    width: 100%;
  }

  .nazev_receptu_input {
    width: 100%;
  }

  #zalozeni_receptu_wrapper {
    flex-direction: column;
  }

  .image-preview-placeholder {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .group-header {
    flex-direction: row;
    align-items: flex-start;
  }

  .krizek-group {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .ingredient-line {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
  }

  .ingredient-line input[type="text"],
  .ingredient-line input[type="number"],
  .ingredient-line select {
    grid-column: 1 / 2;
  }

  .ingredient-line .krizek {
    grid-column: 2 / 3;
    grid-row: 1 / span 3;
    align-self: center;
    justify-self: center;
  }

  .ingredient-line .krizek img {
    width: 20px;
    height: 20px;
  }


.error-message {
    color: #ff0000;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
    text-align: center;
}

.recept {
  padding: 10px;
}

.modal-content {
  width: 95%; /* Zvětšení šířky na menších zařízeních */
  padding: 15px;
  font-size: 0.9em; /* Zmenšení fontu */
}

.modal-content h2 {
  font-size: 1.3em;
}

.modal-content input[type="text"],
.modal-content select,
.modal-content textarea,
.modal-content input[type="file"] {
  font-size: 0.9em;
  padding: 8px;
}

.modal-content textarea {
  min-height: 80px; /* Menší výška textového pole */
}

.form-buttons button {
  padding: 8px 12px;
  font-size: 0.9em;
}

.modal-content img {
  max-width: 90%; /* Menší náhled obrázku na mobilu */
  margin: 0 auto;
}

@media (max-width: 480px) {
  .modal-content {
      width: 100%;
      padding: 10px;
      font-size: 0.85em;
  }

  .modal-content h2 {
      font-size: 1.2em;
  }

  .modal-content input[type="text"],
  .modal-content select,
  .modal-content textarea,
  .modal-content input[type="file"] {
      font-size: 0.85em;
      padding: 6px;
  }

  .modal-content textarea {
      min-height: 60px;
  }

  .form-buttons button {
      padding: 6px 10px;
      font-size: 0.85em;
  }
}



}

